<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <p>Welcom to debug room</p>
        <p>you can go to some page</p>
        <p>use under links</p>


        <form action="/" method="GET">
            <input type="submit" value="base.htmlへ">
        </form>
        <br>
        <form action="/intro" method="GET">
            <input type="submit" value="intro.htmlへ">
        </form>
        <br>
        <br>
    </center>

    <center>
        <table style="border:none;">
            <tbody style="border:none;">
                <tr style="border:none;">
                    <td style="border:none;">
                        <form action="/question1" method="GET">
                            <input type="submit" value="question1.htmlへ">
                        </form>
                    </td>
                    <td style="border:none;"></td>
                    <td style="border:none;">
                        <form action="/question6" method="GET">
                            <input type="submit" value="question6.htmlへ">
                        </form>
                    </td>
                </tr>

                <tr style="border:none;">
                    <td style="border:none;">
                        <form action="/question2" method="GET">
                            <input type="submit" value="question2.htmlへ">
                        </form>
                    </td>
                    <td style="border:none;"></td>
                    <td style="border:none;">７問目</td>
                </tr>
                
                <tr style="border:none;">
                    <td style="border:none;">
                        <form action="/question3" method="GET">
                            <input type="submit" value="question3.htmlへ">
                        </form>
                    </td>
                    <td style="border:none;"></td>
                    <td style="border:none;">８問目</td>
                </tr>
                
                <tr style="border:none;">
                    <td style="border:none;">
                        <form action="/question4" method="GET">
                            <input type="submit" value="question4.htmlへ">
                        </form>
                    </td>
                    <td style="border:none;"></td>
                    <td style="border:none;">９問目</td>
                </tr>
                
                <tr style="border:none;">
                    <td style="border:none;">
                        <form action="/question5" method="GET">
                            <input type="submit" value="question5.htmlへ">
                        </form>
                    </td>
                    <td style="border:none;"></td>
                    <td style="border:none;">１０問目</td>
                </tr>
            </tbody>
        </table>
    </center>


</body>

</html>