{% extends "base.html" %}
{% block content %}

<body>
    <h1>Pythonの世界へようこそ</h1>
    <br>
    <h5>最初に、このアプリで何をするのかを説明しておきます。</h5>
    <p>このアプリではプログラミング言語の一つであるPythonについて学んでいきます。</p>
    <br>
    <p>このアプリ内で基礎的な内容を順番にこなしていき、<br>
        Pythonとはどのようなものかを大まかにわかっている状態になれば目標達成です！</p>
    <br>
    <br>

    <center>
        質問１〜１０まで以下のような画面が出てきます。<br>
        初めは順番に行い、慣れてきたら自分なりのやり方で行いましょう。<br>
        <img src="imagebox/setumei.png" alt="ごめんね。読み込めなかったよ。" height="550">
        <!-- height="550"がちょうど良いかも。 -->
        <br>
        <p>これから１つ１つ順を追って学んでいきましょう。</p>
        <br>
        <p>↓↓↓↓↓↓準備ができたら question1 から始めましょう。↓↓↓↓↓↓</p>
        <a href="{{ url_for('question1') }}"><button>question1へ</button></a><br>
    </center>

    <br>
    <h2>
        <font color="red">※試作段階です。全10問になっています。</font>
    </h2>



</body>


{% endblock %}