<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./static/style.css"
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Python学習アプリへようこそ！</h1>
    <br>
    <p>このアプリではPythonについて学習することができるよ。</p>
    <p>プログラミングをやったことがないよって人でも大丈夫！</p>
    <p>難しそうに感じるかもしれないけど、心配はいらないよ。1つ1つ丁寧に学んでいこう！</p>
    <br>
    <p>準備ができたらここから始めよう。</p>
    <form action="/intro" method="GET">
        <input type="submit" value="intro.htmlへ">
    </form>
    <!-- <br>
    <form action="/question1" method="GET">
        <input type="submit" value="question1.htmlへ">
    </form>
    <br>
    <form action="/question2" method="GET">
        <input type="submit" value="question2.htmlへ">
    </form>
    <br>
    <form action="/question3" method="GET">
        <input type="submit" value="question3.htmlへ">
    </form> -->

</body>

</html>

